@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gervigreind Alla</h1>
    <p class="lead">Síða þessi er notuð til greina mismunandi gervigreindartól sem Albert er að vinna með hverju sinni. </p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Hvernig gervigreind?</h2>
        <p>
            Luis.ai er t.d lausn frá microsoft sem hægt er að nota í t.d chatbotta eða tal lausnir. Botengine.ai er fínt platform til að útfæra chatbotta sem og Chatfuel.
            Chatfuel er betra á móti facebook messenger meðan botengine er góð á móti t.d webchatt lausn eins og LiveChat. 
        </p>
    </div>
</div>